/* VARIABLES */
/* ---------------------------------------------------- */
:root {
  --menu-bg-color: #0ea5e9;
  --menu-text-color: white;
  --selected-bshadow: inset 5px 5px 50px 50px rgba(0,0,0,0.19);
  --selected-border: solid 6px #076b9a;
  --card-bg-color: #f8fafc;
  --card-description-color: #4b5563ac;
  --card-title-color: black;
  --top-banner-text-color: #323943;
  --searchbar-icon-color: #1e293b;
  --searchbar-color: #b4bac566;
  --top-banner-bg-color: #f8fafc;
  --main-dashboard-box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  --main-dashboard-color: #e2e8f0;
  --card-border: #fde047;
  --card-border-opposite: #00aeff;
  --card-color: #f8fafc;
  --card-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  --announcement-card-bottom: #45484d66;
  --options-hover-box-shadow: inset 5px 5px 50px 50px rgba(0,0,0,0.19);
}


/* ENTIRE DOCUMENT/META */
/* ---------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', 'Open Sans', sans-serif;
}

button {
  appearance: none;
  border: none;
}

.prof-pic {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
}

body, #options, #top-banner, #main-dashboard {
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body::-webkit-scrollbar, #options::-webkit-scrollbar, #top-banner::-webkit-scrollbar, #main-dashboard::-webkit-scrollbar {
  display: none;
}

body {
  height: 100vh;
  width: 100%;

  display: grid;
  grid-template-columns: max(250px, 20%) max(80vh, 80%);
  grid-template-rows: max-content 1fr;
  grid-template-areas: 
  "menu top-banner"
  "menu  main-dashboard"
  ;
}


/* LEFT-SIDE BURGER MENU */
/* ---------------------------------------------------- */
.menu, .burger, #options, #options li {
  display: grid;
}

.menu * {
  border-radius: 0;
}

.menu {
  grid-area: menu;
  background-color: var(--menu-bg-color);
  color: var(--menu-text-color);
  grid-template-rows: 1fr 10fr;
}

.burger, #options li {
  grid-template-columns: 1fr 9fr;
  column-gap: max(10px, 10%);
}

.burger {
  grid-row: 1 / 2;
  min-height: 100px;
  font-size: 24px;
  font-weight: 700;
  padding: 20px 10px;
}

#options {
  font-size: 18px;
  font-weight: 600;

  grid-template-rows: repeat(10, clamp(30px, 8%, 50px));
}

#options li {
  padding-left: 10px;
  opacity: 0.95;
  align-items: center;
}

#options li:first-child, .selected-burger {
  opacity: 1;
  box-shadow: var(--selected-bshadow);
  border-left: var(--selected-border);
  padding: 4px;
}


/* TOP BANNER */
/* ---------------------------------------------------- */
/* Top banner meta */
#top-banner {
  grid-area: top-banner;
  background-color: var(--top-banner-bg-color);
  display: grid;
  grid-template-columns: 5fr 2fr;
  grid-template-rows: 2fr 3fr;
  grid-template-areas: 
  "top-left top-right"
  "bottom-left  bottom-right"
  ;
  padding: 10px 5%;
}

.top-left, .top-right, .top-right div, .bottom-left .greeting, .bottom-left .handle, .bottom-right, .bottom-right .create {
  display: flex;
}

.top-left, .top-right, .top-right div, .bottom-left, .bottom-right .create {
  align-items: center;
}

.bottom-left .greeting, .bottom-left, .handle {
  height: 100%;
}

.top-right, .bottom-right {
  justify-content: flex-end;
}

/* Top left section */
.top-left {
  grid-area: top-left;
}

input[id="search"] {
  margin: 0px 10px;
  padding: 0px 10px;
  width: 100%;
  background-color: var(--searchbar-color);
  height: 28px;
  border-radius: 15px;
  border: none;
}

/* Top right section */
.top-right {
  grid-area: top-right;
  font-size: 18px;
  font-weight: 600;
}

.top-right div {
  color: var(--searchbar-icon-color);
}

.top-right .prof-pic {
  max-width: 80px;
}

img {
  width: 2.5em;
  height: 2.5em;
  border-radius: 100%;
  overflow: hidden;
  border: none;
  object-fit: contain;
}

/* Bottom left section */
.bottom-left {
  grid-area: bottom-left;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 1fr;
}

.bottom-left .prof-pic {
  grid-area: 1 / 1 / -1 / 2;
}

.bottom-left img {
  height: 3.5em;
  width: 3.5em;
}

.bottom-left .greeting {
  grid-area: 1 / 2 / 2 / -1;
  align-items: flex-end;
  margin-left: 4px;
  font-size: 16px;
  font-weight: 600;
}

.bottom-left .handle {
  grid-area: 2 / 2 / 3 / 3;
  margin-left: 4px;
  font-size: 18px;
  font-weight: 700;
}

/* Bottom right section */
.bottom-right {
  grid-area: bottom-right;
}

#top-banner button {
  border-radius: 20px;
  height: 40px;
  width: 90px;
  overflow: hidden;
  background-color: var(--menu-bg-color);
  color: var(--menu-text-color);
  font-weight: 500;
  font-size: 15px;
}

.create li {
  padding-left: 15px;
}


/* MAIN DASHBOARD */
/* ---------------------------------------------------- */
/* Main Dashboard - Left Side (project cards) */
#main-dashboard, .project-cards, .cards, .card {
  display: grid;
}

.project-title, .project-description, .project-icons, .project-icons button {
  display: flex;
}

.project-title, .project-description, .project-icons {
  width: 100%;
  flex-wrap: wrap;
}

#main-dashboard {
  grid-area: main-dashboard;
  background-color: var(--main-dashboard-color);
  box-shadow: var(--main-dashboard-box-shadow);
  grid-template-columns: 5fr 2fr;
}

.project-cards {
  padding: 15px;
  grid-column: 1 / 2;
  grid-template-rows: 50px 1fr;
}

.header {
  padding-left: 5px;
  font-weight: 600;
  font-size: 20px;
}

.project-cards .project-description {
  margin-top: 5px;
  color: var(--card-description-color);
}

.cards {
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card {
  height: 100%;
  grid-template-rows: 20% 60% 20%;
  padding: 10px;
  border-left: solid 8px #fde047;
  background-color: var(--card-color);
  border-radius: 10px;
  box-shadow: var(--card-box-shadow);
}

svg {
  padding: 2px;
  border-radius: 15px;
}

#slide {
  position: absolute;
  left: -800px;
  width: 800px;
  height: 400px;
  background: var(--card-border);
  opacity: 0.2;
  transition: 1s;
  pointer-events: none;
}

.card {
  position: relative;
  overflow: hidden;
}
img[id="slide"] {
  border-radius: 0;
}

.project-title {
  font-size: 20px;
  font-weight: 600;
}

.project-icons {
  justify-content: flex-end;
  align-items: center;
}

.project-icons button {
  margin-right: 10px;
  border-radius: 100%;
  background-color: var(--card-color);
  justify-content: center;
}

/* Main Dashboard -- Right Side */
.right-side, .announcements, .announcement-cards, .announcement-card, .trending, .trender, .trender-cards {
  display: grid;
}
.right-side {
  grid-column: 2 / 3;
  grid-template-rows: 4fr 3fr;
  row-gap: 15px;
  padding: 15px;
}

.announcements {
  grid-row: 1 / 2;
  grid-template-rows: 50px 1fr;
}

.announcement-cards {
  padding: 20px;
  border-radius: 15px;
  background-color: var(--card-bg-color);
  grid-template-rows: 1fr 1fr 1fr;
  box-shadow: var(--card-box-shadow);
}

.announcement-card {
  grid-template-rows: 20% 80%;
  min-width: 50px;
}

.announcement-card .title {
  display: flex;
  align-items: flex-end;

  color: var(--card-title-color);
  box-shadow: rgba(73, 70, 72, 0.4) 0px 5px;
  font-size: 14px;
  font-weight: 600;
}

.announcement-card .description {
  font-size: 12px;
  padding-top: 5px;
}

.announcement-card:first-child .title{
  border: none;
}

.trending {
  grid-row: 2 / 3;
  grid-template-rows: 50px 1fr;
}

.trender-cards {
  grid-template-rows: 1fr 1fr 1fr 1fr;
  box-shadow: var(--card-box-shadow);
  background-color: var(--card-bg-color);
  border-radius: 15px;
  font-size: 14px;

}

.trender {
  grid-template-columns: 1fr 5fr;
  column-gap: 10px;
  padding-left: 10px;
  grid-template-rows: 1fr 1fr;
}

.trender:first-child {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.trender:last-child {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}



.trender .prof-pic {
  grid-area: 1 / 1 / -1 / 2;
}

.trender .handle, .trender .proj-name {
  display: flex;
  height: 100%;
  align-items: flex-end;
  color: var(--card-title-color);
  font-size: 12px;
}

.trender .proj-name {
  align-items: flex-start;
  color: var(--card-description-color);
}
.announcement {
  display: flex;
  flex-wrap: wrap;
}

.announcement .title {
  width: 100%;
  height: 20px;
}

.announcements .description {
  width: 100%;
  height: calc(100% - 20px);
  color: var(--card-description-color);
}


/* ANIMATIONS */
/* ---------------------------------------------------- */
@keyframes shake {
  0% { transform:rotate(10deg); }
  25% { transform:rotate(0deg); }
  50% { transform: rotate(-10deg); }
  75% { transform: rotate(0deg); }
  100% { transform: rotate(10deg); }
}

#options li:hover, .card:hover svg, .project-title span:hover, .announcement-card .title span:hover, .trender:hover .proj-name, .trender:hover .handle, button:hover, .trender *:hover, label[for="search"], .top-right * {
  cursor: pointer;
}

#options li:hover {
  box-shadow: var(--options-hover-box-shadow);
  transition: ease-in-out 0.2s;
}

#options li:empty:hover {
  cursor: default;
  box-shadow: none;
}

.top-left input[id="search"]:hover, .top-left input[id="search"]:focus{
  opacity: 0.8;
  outline: none;
}

.top-right .prof-pic:hover {
  opacity: 0.8;
}

#notif:hover {
    animation: shake 0.2s;
    animation-iteration-count: infinite;
}

.card svg:hover {
  background-color: var(--menu-bg-color);
}

.card:hover #slide {
  transition: 0.7s;
  left: 0;
}

.project-title span:hover {
  color: var(--card-border-opposite);
  opacity: 1;
}

.announcement-card .title span:hover {
  color: var(--menu-bg-color);
}

.trender:hover {
  background-color: var(--menu-bg-color);
}

.trender:hover .proj-name, .trender:hover .handle, button:hover {
  color: var(--menu-text-color);
  background-color: var(--menu-bg-color);
  opacity: 0.8;
}