:root {
  --dashboard-bg-color: #0ea5e9;
  --dashboard-text-color: white;
  --button-text-color: white;
  --card-bg-color: white;
  --card-description-color: #4b5563;
  --card-title-color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', 'Open Sans', sans-serif;
}

ul {
  list-style-type: none;
}


body {
  height: 100vh;
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: grid;
  grid-template-columns: max(250px, 20%) max(80vh, 80%);
  grid-template-rows: 15% 1fr;
  grid-template-areas: 
  "dashboard-menu top-banner"
  "dashboard-menu  main-dashboard"
  ;
}

#dashboard-menu {
  grid-area: dashboard-menu;
  background-color: var(--dashboard-bg-color);
  color: var(--dashboard-text-color);
  display: grid;
  padding: 20px;
  grid-template-rows: 1fr 10fr;
  
}


#burger {
  grid-row: 1 / 2;
  min-height: 100px;
  font-size: 24px;
  font-weight: 700;
}

#options {
  display: grid;
  grid-template-rows: 10fr;
  gap: 5px;
}

#options * {
  font-size: 18px;
  font-weight: 600;
}

#options ul {
  display: grid;
  grid-template-rows: repeat(9, clamp(30px, 8%, 50px));
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#options ul li {
  display: grid;
  grid-template-columns: 1fr 9fr;
  column-gap: max(10px,10%);
}


#options ul::-webkit-scrollbar {
  display: none;
}


#top-banner {
  grid-area: top-banner;
  background-color: orange;
  display: grid;
  grid-template-columns: 5fr 2fr;
  grid-template-rows: 2fr 3fr;
  padding-left: 5%;
  padding-right: 5%;
}

#top-banner .top-left {
  background-color: beige;
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#top-banner .top-right {
  background-color: yellow;
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#top-banner .bottom-left {
  background-color: green;
  grid-area: 2 / 1 / 3 / 2;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
}

.bottom-left .prof-pic {
  grid-area: 1 / 1 / -1 / 2;
}

.bottom-left .greeting {
  grid-area: 1 / 2 / 2 / -1;
  border: solid black;
  display: flex;
  height: 100%;
  align-items: flex-end;
}

.bottom-left .handle {
  grid-area: 2 / 2 / 3 / 3;
  border: solid white;
  display: flex;
  height: 100%;
}

#top-banner .bottom-right {
  background-color: blue;
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  justify-content: flex-end;
}

#top-banner .bottom-right .create {
  display: flex;
  align-items: center;
}

#main-dashboard {
  grid-area: main-dashboard;
  background-color: purple;
  display: grid;
  grid-template-columns: 5fr 2fr;
}

.project-cards {
  padding: 15px;
  grid-column: 1 / 2;
  background-color: bisque;
  display: grid;
  grid-template-rows: 50px 1fr;
}

.cards {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.project {
  box-sizing: border-box;
  height: 200px;
  border: solid 2px red;
  display: grid;
  grid-template-rows: 20% 65% 15%;
  padding: 10px;
}

.project-title, .project-description, .project-icons {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.project-icons {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.right-side {
  grid-column: 2 / 3;
  background-color: brown;
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding: 10px;
}

.announcements {
  grid-row: 1 / 2;
  display: grid;
  grid-template-rows: 50px 1fr 1fr 1fr;
}

.announcements * {
  border: solid black;
  margin-bottom: 10px;
}

.trending {
  grid-row: 2 / 3;
  display: grid;
  grid-template-rows: 50px 1fr 1fr 1fr 1fr;
}

.trending * {
  border: solid blue;
}

.trender {
  background-color: green;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 40px;
  align-items: center;
}

.trender .prof-pic {
  grid-area: 1 / 1 / -1 / 2;
}

.trender .handle, .trender .proj-name {
  display: flex;
  height: 100%;
  align-items: flex-end;
}

.trender .proj-name {
  align-items: flex-start;
}
.announcement {
  display: flex;
  flex-wrap: wrap;
}

.announcement .title {
  width: 100%;
  height: 20px;
}

.announcement .description {
  width: 100%;
  height: calc(100% - 20px);
}

